<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  Server is running on <%= hostname %>:<%= port %>
</body>
</html>
